<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/aliahsan/IdeaProjects/Selenium-Vs-Playwright">
        <classes>
            <!-- This is Test Case of Playwright -->
            <class name="tests.PlaywrightProfitCalculatorTest"></class>

            <!-- This is Test Case of Selenium -->
            <class name="tests.SeleniumProfitCalculatorTest"></class>
        </classes>
    </test>
</suite>